*
{
    padding:0px;
}
.container
{
    width:40vw;
    background-color: white;
    margin-left:450px;
    margin-top:50px;
    padding:20px;
    box-shadow: 1px 1px 1px 1px black;
}
.head
{
    color:palevioletred;
    font-size:40px;
    text-align:center;
    text-decoration: underline;
}
.inputs
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:70px;
}
.input-box
{
    height:50px;
    width:35vw;
    margin:10px;
    background-color:snow;
    font-size:20px;
    padding:5px;
    border-radius:5px;
}
.btn
{
    height:50px;
    width:15vw;
    background-color: snow;
    border-width: 1px;
    border-radius:15px;
    font-size:17px;
    padding:5px;
    color:black;
    background-color:palevioletred ;
    margin-right:10px;

}
.buttons
{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin-top:20px;
}
.error
{
    color:maroon;
    text-align:left;
}
.hide
{
    display:none;
}